@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@font-face {
  font-family: 'Ice Valley';
  src: url(../css/fonts/ice_valley_demo-webfont.woff);
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Ice Valley', Arial, sans-serif;
  font-weight:normal;
font-style:normal;
}

h1{
  font-size: 5.653rem;
}
h2{
  font-size: 3.157rem;
}
h3{
  font-size: 2.369rem;
}
h4{
  font-size: 1.777rem;
}
h5{
  font-size: 1.333rem;
}
a{
  text-decoration: none;
}

body{
  font-family: 'Signika Negative', sans-serif;
}

span{
  color:red
}